absl-py==0.10.0
aiohttp==2.3.10
astor==0.8.1
astunparse==1.6.3
async-timeout==2.0.1
atari-py==0.2.6
attrs==20.1.0
backports.weakref==1.0rc1
baselines==0.1.5
beautifulsoup4==4.9.1
bleach==1.5.0
Box2D==2.3.10
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
colorama==0.4.3
cycler==0.10.0
Cython==0.29.21
dill==0.3.2
filelock==3.0.12
future==0.18.2
gast==0.3.3
glfw==1.12.0
google==3.0.0
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.31.0
gym==0.15.7
h5py==2.10.0
html5lib==0.9999999
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
importlib-metadata==1.7.0
joblib==0.14.1
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lockfile==0.12.2
-e git+https://github.com/gutsy-robot/maddpg.git@9d561f32993c9542d9a4c93b7269dcb8d35e8cda#egg=maddpg
Markdown==3.2.2
matplotlib==3.0.3
mpi4py==3.0.3
msgpack==1.0.0
mujoco-py==1.50.1.68
-e git+https://github.com/gutsy-robot/multiagent-gail.git@ec9b3244310d435e07b000d4e8bc726bea318ab2#egg=multiagent&subdirectory=multiagent-particle-envs
multidict==4.7.6
numpy==1.18.5
numpy-stl==2.11.2
oauthlib==3.1.0
opencv-python==4.4.0.42
opt-einsum==3.3.0
Pillow==7.2.0
progressbar2==3.52.1
protobuf==3.13.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-utils==2.4.0
PyYAML==5.3.1
pyzmq==19.0.2
ray==0.8.6
redis==3.4.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.4.1
six==1.15.0
soupsieve==2.0.1
tensorboard==1.14.0
tensorboard-plugin-wit==1.7.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
tqdm==4.48.2
typing-extensions==3.7.4.3
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.5.1
zipp==1.2.0
zmq==0.0.0
